<div class="main-container">
  <div class="rounded-wrapper">
    <div class="left-side">
      <!-- Content for the left side -->
      <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="">
            <h2 class="mb-5">Sign up</h2>
            <form>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control border-bottom" placeholder="Username" autocomplete="cc-name">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="email" class="form-control border-bottom" placeholder="Email" autocomplete="cc-name">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control border-bottom" placeholder="Password"
                    autocomplete="cc-name">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control border-bottom" placeholder="Password"
                    autocomplete="cc-name">
                </div>
              </div>

              <div class="form-check mt-4">
                <input class="form-check-input" type="checkbox" value="" id="termsofservice" checked>
                <label class="form-check-label font-weight-light termsofservice">
                  I agree all statements in <u class="text-hover"> Terms of
                    service</u>
                </label>
              </div>

              <button type="submit" class="btn submit-btn">Register</button>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="right-side">
      <!-- Content for the right side -->
      <img class="signup-img" src="/assets/image/signup-image.jpg" alt="signup-image">
      <p class="form-check-label font-weight-light already-member" for="termsofservice">
        <u class="text-hover"> I'm already a member </u>
      </p>
    </div>
  </div>
</div>